</div>

<div class="footer-padding"></div>
<div class="footer">
  <p> <span class="developer"> Jamie Kim</span>.
    <span class="developer"> Tina Liang</span>. </p>
  <a class="footer-link" href="https://observablehq.com/@jamie/tested-vs-positive">ObservableHQ </a>
  <a class="footer-link" href="https://observablehq.com/@siminliang/covid-choropleth">ObservableHQ </a>
  <a class="footer-link" href="https://github.com/noeyhoos/Interactive196v">Github </a>
  <a class="footer-link" href="https://covidtracking.com/api">Data </a>
  <a class="footer-link" href="https://www.census.gov/search-results.html?searchType=web&cssp=SERP&q=population%20by%20state">US Census Bureau</a>

</div>

</body>

</html>
