<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>196v Final Project</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- d3 scripts -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.13.0/d3-legend.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <p class="navbar-brand">INTERACTIVE DESIGN</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="covid"><a href="/">COVID-19</a></li>
          <li id="interactive1"><a href="/interactive1">INTERACTIVE1</a></li>
          <li id="interactive2"><a href="/interactive2">INTERACTIVE2</a></li>
          <li id="static"><a href="/static">STATIC</a></li>
          <li id="writeup"><a href="/writeup">WRITE-UP</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
